body{
  padding-top: 0px;
  margin: 0px;
  padding: 0px;
  background-image:url('white_bg.jpg');
}
.sec{
  padding-bottom: 25px;
  padding-left: 25%;
  padding-top: 4%;
  
}
.sec nav a{
   display: inline-block;
   font-weight:bold;
   color: black;
   width: 150px;
   padding: 8px;
   text-decoration: none;
   font-size: 37px;
   text-align: center;
   background: transparent;
   border-radius: 2%;
   font-family: 'Lobster', cursive;

}
.sec nav a:hover{
  background:transparent;
  color:rgba(0, 255, 34, 0.733);
}
.sec nav a:focus{
   background:transparent;
  color:rgba(0, 255, 34, 0.733);
}

.AB{
  padding-top: 5px;
  height: 240px;
  width: 240px;
  border-radius: 120px;
  float: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .name{
   font-size: 30px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    padding-bottom: 0px;
    line-height: 0.5cm;
  }
.si,.ci,.ji{
width: 150px;
height:150px;
float: left;
border-radius: 10%;
padding-left: 100px;
}
.junior-college,.college{
  padding-top: 100px;
}
.right{
padding-left: 500px;
font-size: 30px;
font-family: 'Yusei Magic', sans-serif;
padding-top: 20px;
}
.About{
  font-family: 'Yusei Magic', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}
.about1,.skills1,.edu1{
  color:rgba(0, 255, 34, 0.733);
}
.skills{
 font-family: 'Yusei Magic', sans-serif;
  font-size: 30px;
  padding-left: 50px;
}
.h,.h5{
font-family: 'Yusei Magic', sans-serif;
  font-size: 35px; 
    padding-left: 50px;
}
.div{
  display: inline-block;
}
.i1,.i2,.i3{
  height:120px;
  width:120px ;
  padding: 25px;
  padding-left: 100px;
  
}
.contact{
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 35px; 
  text-decoration: none;
  color: black;
  padding-right: 20px;

}
.c1{
   font-family: 'Yusei Magic', sans-serif;
  font-size: 35px; 
    float: right;
    padding-right: 25px;
    padding-top: 0px;
}



@media only screen and (max-width: 600px) {


.sec nav a{
  /*display: block;*/
  text-align: center;
  line-height: 1cm;
  font-size: 30px;
  padding: 0px;
}
.sec{
padding-left: 10px;

}

.AB{
  height: 20px;
  width: 20px;
  visibility: hidden;
}
.name{
  font-size: 25px;
}
.c1,.contact{
  padding-right: 10px;
  font-size: 22px;
  padding-top: 150px;
}
.sec nav .skills{
  padding-left: 150px;
  padding-top: 20px;
}
.si,.ci,.ji{
width: 20%;
height:100px;

border-radius: 10%;
padding-left: 40%;
}
.junior-college,.college{
  padding-top: 10px;
}
.right{
padding-left: 15px;
padding-right: 15px;
font-size: 22px;
padding-top: 20px;
float: right;
text-align: justify;

}
.About{
 
  font-size: 22px;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
}
.h{
  font-size: 25px;
  padding-left: 20px;
  
}
.skills,.hobbies{
  font-size: 22px;
}
.i1,.i2,i3{
  width: 100px;
  height: 100px;
}
.h5{
  padding-left: 50px;
  font-size: 25px;
}

}